node_modules/
tmp/
out/
dist/
release/
releases/
*.vsix
*.zip
*.log
.vsixmanifest
[[]Content_Types].xml
BETA-DISTRIBUTION-WARNING.txt
IKEMaker-*-Distribution-Manifest.txt
.DS_Store
Thumbs.db
.vscode/
.ikemen-tools/
